@model ShopCartViewModel;
@{
    var total =0;
}
<div class="container">
    @foreach (var el in Model.ShopCart.listShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобиль: </b>@el.car.name<br/>
            <b>Цена: </b>@el.car.price.ToString("c")
            <a class="btn btn-danger float-right" asp-controller = "ShopCart" asp-route-idCart = "@Model.ShopCart.ShopCartId" asp-route-idCar="@el.car.id" asp-action="Delete">Удалить</a>
            @{
                total += @el.price;
            }
        </div>
    }
    
    <div class="">
        <b>Общая цена: </b> @total.ToString("c")
    </div>
    <hr/>
    <a class="btn btn-danger" asp-controller = "Order" asp-action="Checkout">Оплатить</a>
</div>